/* fonts
-------------*/
@font-face {
  font-family: 'Aileron-SemiBold';
  src: url('assets/fonts/Aileron-SemiBold.eot?#iefix') format('embedded-opentype'),  url('assets/fonts/Aileron-SemiBold.otf')  format('opentype'),
       url('assets/fonts/Aileron-SemiBold.woff') format('woff'), url('assets/fonts/Aileron-SemiBold.ttf')  format('truetype'), url('assets/fonts/Aileron-SemiBold.svg#Aileron-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron-Thin';
  src: url('assets/fonts/Aileron-Thin.eot?#iefix') format('embedded-opentype'),  url('assets/fonts/Aileron-Thin.otf')  format('opentype'),
       url('assets/fonts/Aileron-Thin.woff') format('woff'), url('assets/fonts/Aileron-Thin.ttf')  format('truetype'), url('assets/fonts/Aileron-Thin.svg#Aileron-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BebasNeueBold';
  src: url('assets/fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype'),  url('assets/fonts/BebasNeueBold.otf')  format('opentype'),
       url('assets/fonts/BebasNeueBold.woff') format('woff'), url('assets/fonts/BebasNeueBold.ttf')  format('truetype'), url('assets/fonts/BebasNeueBold.svg#BebasNeueBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
